samples/CslaLight/cs/LocalDataPortalUsingWCFService/WcfService.Business.Client/Service References/CompanyServiceReference/CompanyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="CompanyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3026/CompanyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3026/CompanyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3026/CompanyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompanyService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_GetCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_UpdateCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_UpdateCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_InsertCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_InsertCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_DeleteCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompany" />
  </wsdl:message>
  <wsdl:message name="ICompanyService_DeleteCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCompanyResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompanyService">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetUser" message="tns:ICompanyService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetUserResponse" message="tns:ICompanyService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/GetCompany" message="tns:ICompanyService_GetCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/GetCompanyResponse" message="tns:ICompanyService_GetCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/UpdateCompany" message="tns:ICompanyService_UpdateCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/UpdateCompanyResponse" message="tns:ICompanyService_UpdateCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/InsertCompany" message="tns:ICompanyService_InsertCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/InsertCompanyResponse" message="tns:ICompanyService_InsertCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompanyService/DeleteCompany" message="tns:ICompanyService_DeleteCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompanyService/DeleteCompanyResponse" message="tns:ICompanyService_DeleteCompany_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompanyService" type="tns:ICompanyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompany">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/GetCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompany">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/UpdateCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCompany">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/InsertCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCompany">
      <soap:operation soapAction="http://tempuri.org/ICompanyService/DeleteCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompanyService">
    <wsdl:port name="BasicHttpBinding_ICompanyService" binding="tns:BasicHttpBinding_ICompanyService">
      <soap:address location="http://localhost:3026/CompanyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>