samples/CslaNet/vb/BenchManager/HRCombined/EmployeeWorkflows/Service References/BenchService/BenchSvc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfConsultantData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultantData" nillable="true" type="tns:ConsultantData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultantData" nillable="true" type="tns:ArrayOfConsultantData" />
  <xs:complexType name="ConsultantData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnBench" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultantData" nillable="true" type="tns:ConsultantData" />
  <xs:complexType name="ConsultantUpdateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Delete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnBench" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultantUpdateData" nillable="true" type="tns:ConsultantUpdateData" />
  <xs:complexType name="ArrayOfProjectData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectData" nillable="true" type="tns:ProjectData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectData" nillable="true" type="tns:ArrayOfProjectData" />
  <xs:complexType name="ProjectData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectData" nillable="true" type="tns:ProjectData" />
  <xs:complexType name="ArrayOfProjectUpdateData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectUpdateData" nillable="true" type="tns:ProjectUpdateData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectUpdateData" nillable="true" type="tns:ArrayOfProjectUpdateData" />
  <xs:complexType name="ProjectUpdateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Delete" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectUpdateData" nillable="true" type="tns:ProjectUpdateData" />
</xs:schema>