ProjectTrackercs/PTWcfClient/Service References/PTWcfService/PTService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1812/PTWcfService/PTService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProjectData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectData" nillable="true" type="tns:ProjectData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectData" nillable="true" type="tns:ArrayOfProjectData" />
  <xs:complexType name="ProjectData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ended" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectResources" nillable="true" type="tns:ArrayOfProjectResourceData" />
      <xs:element minOccurs="0" name="Started" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectData" nillable="true" type="tns:ProjectData" />
  <xs:complexType name="ArrayOfProjectResourceData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectResourceData" nillable="true" type="tns:ProjectResourceData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectResourceData" nillable="true" type="tns:ArrayOfProjectResourceData" />
  <xs:complexType name="ProjectResourceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Assigned" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceId" type="xs:int" />
      <xs:element minOccurs="0" name="Role" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectResourceData" nillable="true" type="tns:ProjectResourceData" />
</xs:schema>