Source/Csla.Net4/Service References/WcfPortal/WcfPortal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ws.lhotka.net/WcfDataPortal" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.lhotka.net/WcfDataPortal" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ws.lhotka.net/WcfDataPortal/Imports">
      <xsd:import schemaLocation="http://localhost:40329/WcfPortal.svc?xsd=xsd0" namespace="http://ws.lhotka.net/WcfDataPortal" />
      <xsd:import schemaLocation="http://localhost:40329/WcfPortal.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:40329/WcfPortal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Csla.Server.Hosts.Silverlight" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfPortal_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IWcfPortal_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfPortal_Fetch_InputMessage">
    <wsdl:part name="parameters" element="tns:Fetch" />
  </wsdl:message>
  <wsdl:message name="IWcfPortal_Fetch_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfPortal_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IWcfPortal_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfPortal_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IWcfPortal_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfPortal">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://ws.lhotka.net/WcfDataPortal/IWcfPortal/Create" message="tns:IWcfPortal_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://ws.lhotka.net/WcfDataPortal/IWcfPortal/CreateResponse" message="tns:IWcfPortal_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fetch">
      <wsdl:input wsaw:Action="http://ws.lhotka.net/WcfDataPortal/IWcfPortal/Fetch" message="tns:IWcfPortal_Fetch_InputMessage" />
      <wsdl:output wsaw:Action="http://ws.lhotka.net/WcfDataPortal/IWcfPortal/FetchResponse" message="tns:IWcfPortal_Fetch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://ws.lhotka.net/WcfDataPortal/IWcfPortal/Update" message="tns:IWcfPortal_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://ws.lhotka.net/WcfDataPortal/IWcfPortal/UpdateResponse" message="tns:IWcfPortal_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://ws.lhotka.net/WcfDataPortal/IWcfPortal/Delete" message="tns:IWcfPortal_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://ws.lhotka.net/WcfDataPortal/IWcfPortal/DeleteResponse" message="tns:IWcfPortal_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>