Source/Csla.Uwp/Service References/WcfPortal/SlPortal1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Csla.Server.Hosts.Mobile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Csla.Server.Hosts.Mobile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CriteriaRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientContext" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ClientCulture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientUICulture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CriteriaData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="GlobalContext" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Principal" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CriteriaRequest" nillable="true" type="tns:CriteriaRequest" />
  <xs:complexType name="WcfResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorData" nillable="true" type="tns:WcfErrorInfo" />
      <xs:element minOccurs="0" name="GlobalContext" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ObjectData" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfResponse" nillable="true" type="tns:WcfResponse" />
  <xs:complexType name="WcfErrorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerError" nillable="true" type="tns:WcfErrorInfo" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetSiteName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WcfErrorInfo" nillable="true" type="tns:WcfErrorInfo" />
  <xs:complexType name="UpdateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientContext" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ClientCulture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientUICulture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlobalContext" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ObjectData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Principal" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateRequest" nillable="true" type="tns:UpdateRequest" />
</xs:schema>