Source/Csla.Uwp/Service References/WcfPortal/SlPortal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.lhotka.net/WcfDataPortal" elementFormDefault="qualified" targetNamespace="http://ws.lhotka.net/WcfDataPortal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13046/SlPortal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Csla.Server.Hosts.Mobile" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Csla.Server.Hosts.Mobile" minOccurs="0" name="request" nillable="true" type="q1:CriteriaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Csla.Server.Hosts.Mobile" minOccurs="0" name="CreateResult" nillable="true" type="q2:WcfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fetch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Csla.Server.Hosts.Mobile" minOccurs="0" name="request" nillable="true" type="q3:CriteriaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Csla.Server.Hosts.Mobile" minOccurs="0" name="FetchResult" nillable="true" type="q4:WcfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Csla.Server.Hosts.Mobile" minOccurs="0" name="request" nillable="true" type="q5:UpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Csla.Server.Hosts.Mobile" minOccurs="0" name="UpdateResult" nillable="true" type="q6:WcfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Csla.Server.Hosts.Mobile" minOccurs="0" name="request" nillable="true" type="q7:CriteriaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Csla.Server.Hosts.Mobile" minOccurs="0" name="DeleteResult" nillable="true" type="q8:WcfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>