Samples/CslaNet/vb/BenchManager/BenchManagerSO/BenchMgrClient.Library/Service References/BenchService/BenchSvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1720/BenchMgrService/BenchSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="GetConsultantList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="benchOnly" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultantListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetConsultantListResult" nillable="true" type="q1:ArrayOfConsultantData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsultantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetConsultantResult" nillable="true" type="q2:ConsultantData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsultant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="consultant" nillable="true" type="q3:ConsultantUpdateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConsultantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateConsultantResult" nillable="true" type="q4:ConsultantData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultantId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetProjectListResult" nillable="true" type="q5:ArrayOfProjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultantId" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="projects" nillable="true" type="q6:ArrayOfProjectUpdateData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>